.bannerButton{
    @include raduisButton;
    font-size: 22px;
    padding: 5px 90px 5px 90px;
}

.productButton{
    @include raduisButton;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 30px 5px 30px;
}


.soldOut {    
    &:hover .overlay {
        opacity: 30%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 540px;
        width: 350px;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
        cursor: pointer;
    }
    .soldoutText {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}