.logo{
    background-image: url(/img/Logo.png);
    background-repeat: no-repeat;
    a{
        text-indent: 110%;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
}

.cart{
    position: relative;
    .cart-basket {
        font-size: .6rem;
        position: absolute;
        top: 0;
        left: 12px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
}

.footerBanner{
    background-image: url(../img/footerBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    .row{
        height: 500px;
    }

    .form-inline{
        input{
            border: 2px solid $primary;
            padding: 29px 20px 30px 20px;
        }
        button{
            padding: 18px 26px 18px 26px;
        }
    }
}

.navList{
    a{
        margin-right: 15px;
    }
}
